.item-add {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 95%;
  font-family: Roboto, sans-serif;
  font-weight: 100;
  font-size: 15px;
  color: #333333;
  margin-bottom: 1em;
}

.item-add input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #eee;
  border-radius: 0.3em;
  margin-right: 10px;
}

.item-add input[type="text"]:focus::-webkit-input-placeholder {
  color: white;
}

.item-add input[type="text"]:focus::-webkit-input-placeholder {
  color: white;
}

/* Firefox < 19 */
.item-add input[type="text"]:focus:-moz-placeholder {
  color: white;
}

/* Firefox > 19 */
.item-add input[type="text"]:focus::-moz-placeholder {
  color: white;
}

/* Internet Explorer 10 */
input:focus:-ms-input-placeholder {
  color: white;
}

.item-add button {
  background-color: orange;
  border: none;
  border-radius: 10%;
  padding: 0 0.3em;
  color: white;
  font-size: 2em;
}
