.item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 95%;
  border-bottom: 1px solid #eee;
  font-family: Roboto, sans-serif;
  font-weight: 100;
  font-size: 15px;
  color: #333333;
}

.item p {
  width: 100%;
  margin-right: 10px;
  font-weight: 600;
}

.item input[type="checkbox"] {
  margin-right: 10px;
  font-size: 30px;
}

.item button {
  border: none;
  font-size: 1.6em;
  background: transparent;
  padding-right: 10px;
  color: lightcoral;
}
